*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

input[type=range]::-moz-range-track{
    box-shadow: 3px 3px 3px #00AA00;
    border: 2px solid #83E584;
    height: 23px;           
    border-radius: 23px;
    background: #439643;
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}

.sorteio{
    width: 100vw;
    height: auto;
    border-radius: 20px;
    border: solid 2px black;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

#edtSorteio{
    width: 100%;
    text-align: center;
}

.line-center{
    display: flex;
    justify-content: center;
}

.card{
    width: 500px;
    max-width: 100vw;
    height: 550px;
    background-color: #56D267;
    padding: 10px;
}

.top{
    width: 100%;
    height: 16.66%;
    border-radius: 20px;
    border: solid 2px black;
    display: flex;
    font-size: 2em;
    padding: 20px;
}
.top *{
    width: 20%;
    text-align: center;
}
.numbers{
    width: 100%;
    height: 83.33%;
    border-radius: 20px;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
}

.line{
    height: 20%;
    display: flex;    
}

.lin{
    border-top: solid 2px black;
}

.col{
    border-left: solid 2px black;
}

.center{
font-size: 1.5em !important;
}

.cell{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.cell:hover{
    cursor: pointer;
    color: blanchedalmond;
}

.mark{
    background-color: darkblue;
    color: darkgrey;
}

/* MODAL  */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
      z-index: 100;
    border-radius: 15px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  .modal-header{
    border-radius: 15px 15px 0 0;
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-400px; opacity:0} 
    to {top:0; opacity:1}
  }

  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  .modal-header {
      display: flex;
      padding: 8px 16px;
      border-bottom: solid 1px rgb(58, 165, 58);
      text-align: center;
      color: #16a083;
  }

  .modal-header h2{
      width: 100%;
  }

  .center-btn{
    display: flex;    
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .close{
      position: relative;
      top: 0px;
      right: 20px;
      font-size: 1.2rem;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-top: 15px;  

  }

  .close:hover{
      cursor: pointer;
      border: solid 2px;
  }

  #md-body{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
