<title>
    BINGO
</title>
<template>
    <style>

        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
        }


    </style>

    <div class="form">


        <label for="edtNumCartela">Num Cartelas Totais</label>
        <input id="edtNumCartela" type="range" min="1" max="100" value="10">
        <h1 id="edtNum">10</h1>
        <label for="edtMinCartela">Minha Cartela</label>
        <input id="edtMinCartela" type="range" min="1" max="10" value="1">
        <h1 id="edtMin">1</h1>
        <button id="btnJogar">Jogar</button>

    </div>

</template>
<script>

    document.querySelector('#edtMinCartela').max = data.numCard
    document.querySelector('#edtNumCartela').value = data.numCard
    document.querySelector('#edtMinCartela').value = data.eu+1
    document.querySelector('#edtNum').innerHTML = data.numCard
    document.querySelector('#edtMin').innerHTML = data.eu+1

    document.querySelector('#edtNumCartela').addEventListener('input',()=>{
        document.querySelector('#edtNum').innerHTML = document.querySelector('#edtNumCartela').value
        data.numCard = parseInt(document.querySelector('#edtNumCartela').value)
        document.querySelector('#edtMinCartela').max = data.numCard
        document.querySelector('#edtMin').innerHTML = document.querySelector('#edtMinCartela').value
        data.eu = parseInt(document.querySelector('#edtMinCartela').value)-1


    })

    document.querySelector('#edtMinCartela').addEventListener('input',()=>{
        document.querySelector('#edtMin').innerHTML = document.querySelector('#edtMinCartela').value
        data.eu = parseInt(document.querySelector('#edtMinCartela').value)-1
    })



    document.querySelector('#btnJogar').addEventListener('click',()=>{
        const tot = parseInt(document.querySelector('#edtNumCartela').value)
        data.cartelas = []
        for(let i=0; i<tot ; i++){
            data.cartelas.push(new Cartela)
        }
        close()
        start()

    })

</script>