<title>
    BINGO
</title>
<template>
    <style>

        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding: 30px;
        }

        #btnLogin, input[type="text"], input[type="password"]{
            width: 250px;
            height: 30px;
        }

    </style>

    <div class="form">


        <label for="edtNumCartela">Num Cartelas Totais</label>
        <input id="edtNumCartela" type="range" min="1" max="100" value="10">
        <h1 id="edtNum">10</h1>
        <button id="btnJogar">Jogar</button>

    </div>

</template>
<script>

    document.querySelector('#edtNumCartela').value = data.numCard
    document.querySelector('#edtNum').innerHTML = document.querySelector('#edtNumCartela').value
    
    document.querySelector('#edtNumCartela').addEventListener('input',()=>{
        document.querySelector('#edtNum').innerHTML = document.querySelector('#edtNumCartela').value
        data.numCard = parseInt(document.querySelector('#edtNumCartela').value)
    })

    document.querySelector('#btnJogar').addEventListener('click',()=>{
        const tot = parseInt(document.querySelector('#edtNumCartela').value)
        data.cartelas = []
        for(let i=0; i<tot ; i++){
            data.cartelas.push(new Cartela)
        }
        close()
        start()

    })

</script>