<title>
    BINGO
</title>
<template>
    <style>

        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding: 30px;
        }

        #btnLogin, input[type="text"], input[type="password"]{
            width: 250px;
            height: 30px;
        }

    </style>

    <div class="form">


        <label for="edtNumCartela">Num Cartelas Totais</label>
        <input type="text" id="edtNumCartela" onkeyup="valInt(this)" value="10">
        <label for="edtNumMinhaCart">Qtd Minhas Cartelas</label>
        <input type="text" id="edtNumMinhaCart" onkeyup="valInt(this)" value="1">

        <button id="btnJogar">Jogar</button>

    </div>

</template>
<script>

    document.querySelector('#btnJogar').addEventListener('click',()=>{
        const tot = parseInt(document.querySelector('#edtNumCartela').value)
        const min = parseInt(document.querySelector('#edtNumMinhaCart').value)
        data.cartelas = []
        for(let i=0; i<tot ; i++){
            data.cartelas.push(new Cartela)
        }
        showCartela(data.cartelas[0])
        close()
        start()

    })

</script>