<title>
    Boa Sorte
</title>
<template>
    <style>

        #divSpeed, #divAuto{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        #divTop{
            display: flex;
            flex-direction: column;
        }

        #divAuto{
            margin-bottom: 10px;
        }

        label:hover{
            cursor: pointer;
        }

        @media (max-width: 680px) {

            .modal{
                padding-top: 0;
            }

            .modal-content{
                width: auto;
            }
            
            .card{
               
                height: 450px;
            }



        }
    </style>
    <div id="divTop">
        <div id="divSpeed">
            <label for="edtSpeed">Vel.:</label>
            <input id="edtSpeed" type="range" min="0" max="9" value="5">
            <h2 id="viewSpeed"></h2>
        </div>
        <div id="divAuto">
            <label for="ckbAuto">Auto Mark</label>
            <input type="checkbox" id="ckbAuto">
        </div>
        <button id="btnPlay">PLAY</button>
        <h1 id="edtSorteio">0</h1>
    </div>
    <div class="card">
        <div class="top"><div>B</div><div>I</div><div>N</div><div>G</div><div>O</div></div>
        <div class="numbers"></div>
    </div>


</template>
<script>

document.querySelector('#viewSpeed').innerHTML =  (data.clock.speed/2).toString().padEnd(3,'.0') +'seg'
    document.querySelector('#edtSpeed').value = data.clock.speed
    document.querySelector('#ckbAuto').checked = data.mark

    for(let x=0; x<5; x++){
        const line = document.createElement('div')
        line.className = (x==0 ? '' : 'lin ') + 'line'
        for(let y=0; y<5; y++){
            const cell = document.createElement('div')
            cell.className = (y==0 ? '' : 'col ') + 'cell cell'+x+'-'+y
            line.appendChild(cell)
            cell.addEventListener('click',()=>{
                if(cell.classList.contains('mark')){
                    cell.classList.remove('mark')
                }else{
                    cell.classList.add('mark')            
                }                
            })
        
        }
        document.querySelector('.numbers').appendChild(line)
    }

    showCartela(data.cartelas[0])

    document.querySelector('#btnPlay').addEventListener('click',()=>{
        data.clock.run = !data.clock.run
        document.querySelector('#btnPlay').innerHTML = data.clock.run ? 'PAUSE' : 'PLAY'
    })

    document.querySelector('#edtSpeed').addEventListener('input',()=>{
        data.clock.speed = (parseInt(document.querySelector('#edtSpeed').value)+1)
        document.querySelector('#viewSpeed').innerHTML =  (data.clock.speed/2).toString().padEnd(3,'.0') +'seg'
    })

    document.querySelector('#ckbAuto').addEventListener('change',()=>{
        data.mark = !data.mark
    })

</script>    
